.photo {
  margin: 20px auto;
  max-width: 500px;
  width: 90%;
  height: 300px;
  background: rgb(223, 223, 223);
  box-shadow: 5px 5px 5px #565656;
  padding: 15px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;

  &__title {
    margin: 0;
    padding: 0;
    color: #565656;
    font-size: 2em;
  }

  &__img {
    margin: 0 auto;
    max-width: 115px;
  }

  &__status-title {
    color: #565656;
    margin: 30px auto;
    text-align: center;
  }

  &__form {
    margin: 0 auto;
    width: 200px;
    height: 120px;
    background: rgb(182, 181, 181);
    text-align: center;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  &__form-input {
    width: 130px;
    height: 30px;
    border-radius: 10px;
    margin: 8px 0;
    font-weight: 600;
    border: none;
    outline: none;
    box-sizing: border-box;
    padding: 12px;
    color: #565656;
  }

  &__form-button {
    width: 130px;
    height: 30px;
    border-radius: 10px;
    margin: 8px 0;
    font-weight: 600;
    border: none;
    outline: none;
    cursor: pointer;
    box-sizing: border-box;
    color: #565656;
  }
}
